<footer class="container-fluid bg-secondary">
    <hr>
     <div >
         <div>
            <div class="row  pt-5">
                <div class="col-md-2"></div>
                 <div class="col-md-2">
                     <h2 class="text-white">Help Topics</h2>
                 <p class="text-white">Returns&Refunds</p>
                 <p class="text-white">Track Your Order</p>
                 <p class="text-white">FAQS</p>
                 <p class="text-white">AboutUs</p>
                     
                     <p class="text-white">Contact-Us</p>
 
                     </div>
                 <div class="col-md-2 ">
                    <h2 class="text-white">Important Pages</h2>
                   <p class="text-white">Our Story</p>
                   <p class="text-white">Partner</p>
                   <p class="text-white">Get the App</p>
                   <p class="text-white">Featured Topics</p>
                   
                
                     <br><br>
                     <p class="text-white">Follow US</p>
                     <i class="fa-brands fa-youtube text-white"></i>&nbsp;
                     <i class="fa-brands fa-whatsapp text-white"></i>&nbsp;
                     <i class="fa-brands fa-facebook text-white"></i>&nbsp;
                     <i class="fa-brands fa-twitter text-white"></i>&nbsp;
                     <i class="fa-brands fa-instagram text-white"></i>
                 </div> 
                 <div class="col-md-1"></div>
                
                 <div class="col-md-2">
                    <h2 class="text-white">General</h2>
                    <p class="text-white">Terms and Conditions</p>
                    <p class="text-white">Privacy Policy</p>
                    <p class="text-white">Cookie Setting</p>
                    <p class="text-white">Help&Support</p>
                 </div>
                 <div class="col-md-1"></div>
             </div>
 
             <div class="row">
                 <hr>
             </div>
 
             <div class="row">
                <div class="col-md-4">
                    <p class="text-white">FinanceXplorer</p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <p  class="text-white">Copyright © 2024. All Rights Reserved</p>

                </div>
             </div>
             </div>
     </div>
 </footer>