<!-- navbar.component.html -->

<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" routerLink="/navbar/home">FinancialXplore</a>
  
      <div class="navbar-links">
        <!-- Links for UsernavComponent -->
        <a routerLink="/usernav/courses">Courses</a>
        <a routerLink="/usernav/Quizz">Quizzes</a>
        <a routerLink="/usernav/user-dashboard">User Dashboard</a>
        <a routerLink="/navbar/home">log out</a>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>