<main class="main-container">
  <div class="main-title">
    <i class="fas fa-tachometer-alt fa-2x text-blue"></i>
    <p class="font-weight-bold text-white">DASHBOARD</p>
  </div>

  <div class="main-cards">

    <div class="card card-courses">
      <div class="card-inner">
        <i class="fas fa-book fa-3x text-blue"></i>
        <b><span class="material-icons-outlined text-blue">COURSES</span></b>
      </div>
      <!-- <span class="text-primary font-weight-bold">20</span> -->
      <p class="card-description">Available Courses</p>
    </div>

    <div class="card card-quizzes">
      <div class="card-inner">
        <i class="fas fa-question-circle fa-3x text-orange"></i>
        <b><span class="material-icons-outlined text-orange">QUIZZES</span></b>
      </div>
      <!-- <span class="text-primary font-weight-bold">20</span> -->
      <p class="card-description">Active Quizzes</p>
    </div>

    <div class="card card-coins">
      <div class="card-inner">
        <i class="fas fa-coins fa-3x text-green"></i>
        <b><span class="material-icons-outlined text-green">COINS</span></b>
      </div>
      <!-- <span class="text-primary font-weight-bold">10</span> -->
      <p class="card-description">Earned Coins</p>
    </div>

    <div class="card card-badges">
      <div class="card-inner">
        <i class="fas fa-certificate fa-3x text-red"></i>
        <b><span class="material-icons-outlined text-red">BADGES</span></b>
      </div>
      <!-- <span class="text-primary font-weight-bold">3</span> -->
      <p class="card-description">Achieved Badges</p>
    </div>

  </div>

  <div class="charts">

    <div class="charts-card">
      <p class="chart-title">Donor Chart for course completion</p>
      <div id="bar-chart"></div>
    </div>

    <div class="charts-card">
      <p class="chart-title">Bar graph for quiz percentage</p>
      <div id="area-chart"></div>
    </div>

  </div>
</main>